apiVersion: apps/v1
kind: Deployment
metadata:
  name: de-inference-deployment
  labels:
    app: de-inference
spec:
  selector:
    matchLabels:
      app: de-inference
  template:
    metadata:
      labels:
        app: de-inference
    spec:
      containers:
      - name: de-inference
        image: cornelldatascience/de-inference-image:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 500m
          limits:
            cpu: 1
        volumeMounts:
        - mountPath: /var/nfs/general/default-face-pvc-pvc-f01c972f-48f0-11e9-8444-00259069c42a
          name: face-data
      volumes:
      - name: face-pv
        persistentVolumeClaim:
          claimName: face-pvc
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
    name: de-inference-autoscaler
spec:
    scaleTargetRef:
        apiVersion: extensions/v1beta1
        kind: Deployment
        name: de-inference-deployment
    minReplicas: 1
    maxReplicas: 20
    targetCPUUtilizationPercentage: 50
